<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Test App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>

<body >
   <div class="container" ng-controller="NarrowItDownController as menu">
    <h1>Test App</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="menu.searchTerm">
    </div>

    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="menu.searchItems()">Narrow It Down</button>
    </div>

    <found-items
      items="menu.found"
      on-remove="menu.removeItem(index)"
      ng-if="!menu.isEmpty()">
  </found-items>
  <h3 class="message" ng-if="ctrl.showMessage">Nothing found</h3>
  </div>

</body>
</html>
