<!doctype html>
<html lang="en">
  <head>
    <title>Test App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
<body ng-app="ShoppingListCheckOff">
  <div class="container">
  <h1>Test App</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as available" >
     <h2>Available:</h2>
     <ul>
       <li ng-repeat="item in available.shoppingList">{{ item.quantity }} {{ item.name}}
         <button class="btn btn-default" ng-click="available.buyItem($index)">
           <span class="glyphicon glyphicon-plus"></span> Get item</button>
       </li>
     </ul>
     <div class="emptyMessage" ng-if="available.stillSomeLeft">Keep on shopping! There's {{ available.itemCount }} more to go.</div>
     <div class="emptyMessage" ng-if="!available.stillSomeLeft">All done!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as bought">
     <h2>Added:</h2>
     <ul>
       <li ng-repeat="item in bought.shoppingList">Bought: {{ item.quantity }} {{ item.name }}
       </li>
     </ul>
     <!-- <div class="emptyMessage" ng-if="!available.stillSomeLeft">Well done!</div>
     <div class="emptyMessage" ng-if="available.stillSomeLeft">Keep on shopping! There's more to go.</div> -->
    </div>
  </div>
</div>

</body>
</html>
